.links-menu{
	display: flex;
	align-items: center;
	justify-content: center;
	&__el{
		margin-right: 40px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		font-family: 'PT Sans';
		font-weight: bold;
		font-size: 18px;
		letter-spacing: 0.03em;
		color: #767676;
		transition: .2s;
		&:hover{
			color: #18325E;
		}
		&.active{
			color: #18325E;
		}
	}
	&__dropdownWrap{
		position: relative;
	}
	&__dropdown{
		position: absolute;
		top: 137%;
		left: -25px;
		width: 216px;
		flex: none;
		z-index: 10;
		display: none;
	}
}

.block-socials{
	display: flex;
	&__el{
		margin-right: 29px;
	}
}

.tel{
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 16px;
	color: #252526;
}

.links-2{
	&__el{
		margin-bottom: 14px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		font-family: 'Roboto';
		font-size: 14px;
		letter-spacing: 0.03em;
		color: #252526;
		transition: .2s;
		&:hover{
			font-weight: bold;
			color: #18325E;
		}
	}
	&__el:first-child{
		a{
			font-weight: bold;
		}
	}
}

.dropdown-menu-el{
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
	border-radius: 32px;
	text-align: left;
	padding: 29px 24px;
	&__links{
		border-bottom: 1px solid #252526;
		padding-bottom: 11px;
		&-el{
			margin-bottom: 14px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			font-family: 'Roboto';
			font-size: 14px;
			letter-spacing: 0.03em;
			color: #252526;
			transition: .2s;
			&:hover{
				font-weight: bold;
				color: #18325E;
			}
		}
	}
	&__bottom{
		padding: 10px 0;
		padding-bottom: 0;
	}
}

.center{
	text-align: center;
}

.title{
	font-family: 'PT Serif';
	font-weight: bold;
	color: #18325E;
	line-height: 1.2;
	&_main{
		font-size: 48px;
	}
	&_sec{
		font-size: 32px;
	}
	&_med{

	}
	&_small{
		font-size: 24px;
	}
	&_margin{
		margin-bottom: 25px;
	}
}

.text-sec{
	font-family: 'Roboto';
	font-size: 18px;
	letter-spacing: 0.01em;
	color: #252526;
	line-height: 1.3;
}

.btn{
	border: 0;
	box-shadow: none;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 16px;
	color: #FFFFFF;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #18325E;
	border-radius: 100px;
	cursor: pointer;
	padding: 21px 41px;
	transition: .2s;
	&:hover{
		box-shadow: 0px 6px 32px rgba(3, 14, 64, 0.4);
	}
}

.info-dec{
	display: flex;
	align-items: flex-end;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #252526;
	text-shadow: 4px 2px 30px rgba(255, 255, 255, 0.8), 4px 2px 20px #FFFFFF;
	&__img{
		margin-left: 9px;
	}
}

.text-info{
	font-family: 'Roboto';
	font-size: 20px;
	line-height: 24px;
	color: #252526;
}

.text-info-2{

}

.text-bold{
	font-weight: bold;
}

.ul-descrp{
	padding-left: 11px;
	li{
		font-family: 'Roboto';
		font-size: 18px;
		color: #252526;
		line-height: 1.2;
		position: relative;
		padding-left: 16px;
		margin-bottom: 6px;
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 8px;
			width: 4px;
			height: 4px;
			border-radius: 100%;
			background: #252526;
		}
	}
}

.form-inp{
	font-family: 'Roboto';
	font-size: 16px;
	color: #252526;
	padding: 15px 20px 0 15px;
	background: #FFFFFF;
	border: 1px solid rgba(#18325E, 0.8);
	border-radius: 10px;
	width: 100%;
	height: 55px;
}

.form-el{
	position: relative;
	width: 100%;
	display: block;
	&__placeholder{
		font-family: 'Roboto';
		font-size: 16px;
		color: #18325E;
		opacity: 0.6;
		position: absolute;
		top: 19px;
    	left: 16px;
    	transition: .2s;
    	pointer-events: none;
	}
	&.active{
		.form-el__placeholder{
			top: 8px;
			font-size: 14px;
			color: #252526;
		}
	}
}

.block-form{
	&__el{
		margin-bottom: 17px;
	}
	&__checkbox{
		margin-top: 28px;
		margin-bottom: 30px;
	}
	&__btn{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 55px;
	}
}

.link{
	color: #18325E;
	text-decoration-line: underline;
}

.checkbox-def{
	flex: none;
	width: 16px;
	height: 16px;
	border: 1px solid #18325E;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	&__dec{
		width: 11px;
		height: 10px;
		display: block;
		background: url('../img/icons/check.svg') no-repeat center / contain;
		opacity: 0;
	}
	&__inp{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -999;
		visibility: hidden;
		&:checked{
			& + .checkbox-def__dec{
				opacity: 1;
			}
		}
	}
}

.checkbox-el{
	display: flex;
	align-items: center;
	&__text{
		font-family: 'Roboto';
		font-size: 16px;
		color: #252526;
		margin-left: 16px;
	}
}

.descrp-el{
	text-align: center;
	&__icon{
		margin-bottom: 26px;
	}
	&__text{
		font-family: 'Roboto';
		font-size: 18px;
		color: #18325E;
		line-height: 1.2;
	}
}

.block-descrp{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	justify-content: space-between;
	&__el{
		width: 25%;
		padding: 0 10px;
		margin-bottom: 20px;
		max-width: 221px;
	}
	&_black{
		.descrp-el__text{
			color: #252526;
		}
	}
}

.text-info-2{
	font-family: 'Roboto';
	font-size: 16px;
	color: #252526;
	line-height: 1.5;
}
.text-info-3{
	font-family: 'Roboto';
	font-size: 18px;
	color: #252526;
	line-height: 1.5;
}
.text-info-small{
	font-family: 'Roboto';
	font-size: 14px;
	color: #252526;
	line-height: 1.5;
}

.services-el{
	background: #FAF9F9;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border-radius: 32px;
	padding: 44px 35px;
	padding-bottom: 30px;
	display: block;
	font-family: 'Roboto';
	transition: .2s;
	&__title{
		font-weight: bold;
		font-size: 18px;
		color: #18325E;
		display: block;
		margin-bottom: 27px;
		transition: .2s;
	}
	&__text{
		display: block;
		transition: .2s;
	}
	&:hover{
		background: #18325E;
		box-shadow: 0px 6px 32px rgba(3, 14, 64, 0.5);
		.services-el__title, .services-el__text{
			color: #FFFFFF;
		}
	}
}

.block-services{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	&__el{
		padding: 0 10px;
		width: 33.3333%;
		margin-bottom: 19px;
		.services-el{
			height: 100%;
		}
	}
}

.work-el{
	display: flex;
	&__count{
		flex: none;
		margin-right: 20px;
		width: 42px;
		height: 42px;
		border: 1px solid #B39013;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'EB Garamond';
		font-weight: 500;
		font-size: 32px;
		color: #B39013;
		border-radius: 100%;
	}
	&__title{
		margin-bottom: 28px;
	}
	&__text{
		min-height: 106px;
	}
}

.block-work{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -35px;
	margin-right: -35px;
	max-height: 650px;
	&__el{
		width: 50%;
		padding: 0 35px;
		margin-bottom: 37px;
	}
}

.strategy-el{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 158px;
	padding: 10px 20px;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border-radius: 32px;
	transition: .2s;
	&__text{
		font-family: 'PT Serif';
		font-weight: bold;
		font-size: 24px;
		color: #252526;
		transition: .2s;
	}
	&:hover{
		background: #18325E;
		box-shadow: 0px 6px 32px rgba(3, 14, 64, 0.4);
		.strategy-el__text{
			color: #FFFFFF;
		}
	}
}

.block-strategy{
	display: flex;
	flex-wrap: wrap;
	margin-left: -14px;
	margin-right: -14px;
	&__el{
		width: 20%;
		padding: 0 14px;
		margin-bottom: 20px;
	}
}

.reviews-el{
	background: #FFFFFF;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border-radius: 32px;
	padding: 50px 46px;
	padding-bottom: 79px;
	&__text{
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__bottom{
		margin-top: 54px;
	}
	&__name{
		font-family: 'PT Serif';
		font-weight: bold;
		font-size: 24px;
		color: #252526;
		margin-bottom: 11px;
	}
}

.owl-nav{
	button{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		&.owl-prev{
			left: 0;
		}
		&.owl-next{
			right: 0;
		}
	}
}

.owl-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	button{
		width: 8px;
		height: 8px;
		border: 1px solid #18325E !important;
		border-radius: 100%;
		margin-right: 8px;
		span{
			display: none;
		}
		&:last-child{
			margin-right: 0;
		}
		&.active{
			background: #18325E;
		}
	}
}

.block-reviews{
	.owl-dots{
		position: absolute;
		left: 0;
		width: 100%;
		padding: 20px 0;
		bottom: 38px;
	}
	&__el{
		padding: 0 80px;
	}
	.owl-nav{
		button{
			background-color: #fff !important;
			border-radius: 100%;
		}
		svg{
			circle{
			}
		}
	}
}

.text-bold{
	font-weight: bold;
}

.info-dec-2{
	display: inline-flex;
	align-items: flex-end;
	&__left{
		flex: none;
		margin-right: 20px;
		width: 145px;
	}
	&__text{
		font-family: Roboto;
		font-size: 18px;
		color: #252526;
		border-bottom: 1px solid #252526;
		line-height: 1;
		margin-bottom: 5px;
		&-title{
			margin-right: 10px;
		}
	}
}

.articles-el{
	display: flex;
	background: #FAF9F9;
	border-radius: 36px;
	&__img{
		flex: none;
		width: 348px;
		min-height: 257px;
		border-radius: 32px;
		object-fit: cover;
	}
	&__body{
		padding: 39px 39px;
		padding-right: 144px;
		position: relative;
		&-img{
			position: absolute;
			top: 39px;
			right: 37px;
		}
	}
	&__title{
		margin-bottom: 27px;
	}
	&__link{
		font-family: 'Roboto';
		font-weight: bold;
		font-size: 16px;
		color: #18325E;
		margin-top: 20px;
		display: inline-block;
	}
}

.message-info{
	position: fixed;
	bottom: 48px;
	left: 48px;
	background: #FAF9F9;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border-radius: 32px;
	max-width: 606px;
	width: 100%;
	padding: 23px 24px;
	z-index: 100;
	&__close{
		position: absolute;
		top: 22px;
		right: 24px;
		cursor: pointer;
	}
	&__title{
		font-family: 'Roboto';
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 0.05em;
		color: #18325E;
		margin-bottom: 8px;
	}
}

.block-articles{
	&__el{
		margin-bottom: 31px;
	}
}

.block-form-2{
	display: flex;
	align-items: flex-start;
	&__img{
		flex: none;
		margin-right: 64px;
		margin-top: 7px;
	}
	&__title{
		margin-bottom: 20px;
	}
	&__body{
		width: 100%;
	}
	&__content{
		margin-top: 17px;
	}
	&__inputs{
		display: flex;
		justify-content: space-between;
		&-el{
			width: 48.5%;
			margin-bottom: 20px;
		}
	}
	&__btn{
		margin-top: 20px;
		padding: 18px 63px;
	}
}

i{
	font-style: italic;
}

.wrap-article{
	line-height: 1.7;
	p{
		min-height: 28.7px;
	}
}

.question-el{
	background: #FAF9F9;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	border-radius: 32px;
	transition: .2s;
	&:hover{
		box-shadow: 0px 6px 32px rgba(158, 149, 149, 0.36);
	}
	&__top{
		padding: 23px 39px;
		padding-right: 26px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
	&__btn{
		flex: none;
		margin-left: 20px;
	}
	&__body{
		display: none;
		padding: 0 38px;
		padding-right: 119px;
		padding-bottom: 35px;
		margin-top: -10px;
		p{
			margin-bottom: 2px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&.active{
		.question-el__btn{
			circle + line{
				display: none;
			}
		}
	}
}

.block-questions{
	&__el{
		margin-bottom: 17px;
	}
}