@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond/subset-EBGaramond-Regular.woff2') format('woff2'),
        url('../fonts/EBGaramond/subset-EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond/subset-EBGaramond-Medium.woff2') format('woff2'),
        url('../fonts/EBGaramond/subset-EBGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../fonts/EBGaramond/subset-EBGaramond-Bold.woff2') format('woff2'),
        url('../fonts/EBGaramond/subset-EBGaramond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/subset-Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans/subset-PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSans/subset-PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/PTSans/subset-PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans/subset-PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif/subset-PTSerif-Bold.woff2') format('woff2'),
        url('../fonts/PTSerif/subset-PTSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/subset-Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto/subset-Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/PTSerif/subset-PTSerif-Regular.woff2') format('woff2'),
        url('../fonts/PTSerif/subset-PTSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}