html{
	position: relative;
	max-width: 100vw;
	overflow-x: hidden;
}

body{
	font-family: 'Roboto';
	font-weight: 400;
	position: relative;
	color: #252526;
	background-color: #fff;
	// overflow-x: hidden;
}

.wrapper{
	position: relative;
	// height: 100vh;
	min-height: 200vh;
}


.container{
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	z-index: 10;
	position: relative;
}

.nav-menu{
	&__mob{
		display: none;
		margin-top: 73px;
		a{
			display: block;
		}
	}
	&__mail{
		margin-top: 10px;
		margin-bottom: 27px;
	}
}

.top-menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	// transition: .2s;
	&__wrap{
		padding: 26px 0;
	}
	&__content{
		text-align: center;
	}
	&__btn{
		display: none;
		font-family: 'PT Serif';
		font-weight: bold;
		font-size: 18px;
		color: #18325E;
		cursor: pointer;
	}
	&__close{
		cursor: pointer;
		display: none;
	}
	&__linkLogo{
		flex: none;
	}
	&__nav{
		margin-top: 33px;
	}
	&_active{
		border: 1px solid rgba(#252526, 0.3);
		.top-menu__wrap{
			padding: 14px 0;
		}
		.top-menu__content{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.top-menu__nav{
			margin: 0;
		}
		.top-menu__linkLogo{
			max-width: 72px;
			margin-right: 48px;
		}
		.links-menu__link{
			font-family: 'Roboto';
			font-size: 14px;
			letter-spacing: 0.05em;
			font-weight: bold;
		}
		.links-menu__el{
			margin-right: 31px;
		}
	}
	&_fixed{
		position: fixed;
		background: #FFFFFF;
		filter: drop-shadow(0px 6px 32px rgba(158, 149, 149, 0.36));
		border: 0;
	}
}

.padding-top-menu{
	padding-top: 160px;
}

.padding-top-menu-active{
	padding-top: 84px;
}

.sec-header{
	background: url('../img/bg/header.png') no-repeat top / cover;
	background-attachment: fixed;
	&::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 326px;
		z-index: 1;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0) 68.23%);
	}
	.container{
		position: relative;
		z-index: 10;
	}
	min-height: 100vh;
	&__wrap{
		padding-bottom: 58px;
	}
	&__content{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: 688px;
		margin-top: 80px;
	}
	&__title{
		margin-bottom: 30px;
	}
	&__btn{
		margin-top: 33px;
		margin-bottom: 55px;
	}
	&__info{
		justify-content: center;
	}
	&__bottomText{
		margin-top: 9px;
		text-shadow: 4px 2px 30px rgba(255, 255, 255, 0.8), 4px 2px 20px #FFFFFF;
	}
}

.sec-header-page{
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	position: relative;
    background-attachment: fixed;
    min-height: 100vh;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: #fff;
		opacity: 0.4;
	}
	.container{
		z-index: 10;
	}
	&__wrap{
		text-align: center;
		padding: 31px 0;
		padding-bottom: 75px;
	}
	&__content{
		margin-top: 86px;
		margin-left: auto;
		margin-right: auto;
		max-width: 678px;
	}
	&__title{
		margin-bottom: 30px;
	}
	&__btn{
		margin-top: 32px;
	}
	&__links{
		justify-content: space-between;
		.links-menu__el{
			margin-right: 0;
		}
		.links-menu__link{
			font-family: 'Roboto';
			letter-spacing: 0.03em;
		}
		&_center{
			justify-content: center;
			.links-menu__el{
				margin-right: 32px;
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	&_2{
		&::after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0) 68.23%);
		}
		.sec-header-page__content{
			margin-top: 0;
		}
		.sec-header-page__wrap{
			padding: 125px 0;
			padding-bottom: 84px;
		}
	}
}

.sec-header-info{
	background: #FAF9F9;
	&__wrap{
		padding: 30px 0;
		padding-bottom: 40px;
	}
	&__content{
		margin-top: 78px;
		text-align: center;
		max-width: 950px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	&__title{
		margin-bottom: 29px;
	}
}

.sec-header-info-2{
	background: #FAF9F9;
	&__wrap{
		padding: 32px 0;
		padding-bottom: 65px;
	}
	&__top{
		margin-top: 66px;
		text-align: center;
	}
	&__content{
		margin-top: 41px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		&-img{
			margin-right: 39px;
			flex: none;
			max-width: 500px;
		}
	}
	&__text{
		margin-bottom: 23px;
	}
	&__icon{
		margin-top: 27px;
	}
}

.sec-services-page{
	.container{
		z-index: 10;
	}
	.sec-header-page{
		position: relative;
		z-index: 1;
	}
	&__tabs{
		position: absolute;
		top: 115px;
		left: 0;
		width: 100%;
		z-index: 100;
	}
	&__content{
		&-el{
			display: none;
			&:first-child{
				display: block;
			}
		}
	}
}

.sec-descrp{
	background: #FAF9F9;
	&_white{
		background-color: #fff;
	}
	&__wrap{
		padding: 54px 0;
		padding-bottom: 43px;
	}
	&__content{
		padding: 0 20px;
	}
}

.sec-services{
	background-color: #fff;
	&__wrap{
		padding: 133px 0;
		padding-bottom: 50px;
	}
	&__content{
		margin-top: 46px;
		margin-left: auto;
		margin-right: auto;
		max-width: 1066px;
	}}

.sec-work{
	background-color: #fff;
	&__wrap{
		padding: 66px 0;
		padding-bottom: 60px;
	}
	&__content{
		margin-top: 49px;
		margin-left: auto;
		margin-right: auto;
		max-width: 1101px;
	}
}

.sec-strategy{
	background: #FAF9F9;
	&__wrap{
		padding: 81px 0;
		padding-bottom: 58px;
	}
	&__content{
		margin-left: auto;
		margin-right: auto;
		max-width: 1148px;
		width: 100%;
		margin-top: 61px;
	}
}

.sec-reviews{
	background-color: #fff;
	&__wrap{
		padding: 132px 0;
		padding-bottom: 50px;
	}
	&__content{
		.block-reviews__el{
			padding-top: 47px;
			padding-bottom: 20px;
		}
	}
	&__bottom{
		text-align: center;
		margin-top: 47px;
	}
}

.sec-articles{
	&__wrap{
		padding: 79px 0;
	}
}

.sec-form{
	background-color: #fff;
	&__wrap{
		padding: 22px 0;
		padding-bottom: 103px;
	}
	&__content{
		margin-left: auto;
		margin-right: auto;
		max-width: 1001px;
	}
	&_2{
		.sec-form__wrap{
			padding: 83px 0;
		}
		.sec-form__content{
			max-width: 1035px;
		}
		.block-form-2__body{
			margin-top: 16px;
		}
		.block-form-2__img{
			margin-right: 57px;
		}
		.block-form-2__content{
			margin-top: 24px;
		}
		.block-form-2__btn{
			padding-left: 34px;
			padding-right: 34px;
		}
	}
	&_bg{
		background: #FAF9F9;
		.sec-form__wrap{
			padding: 56px 0;
			padding-bottom: 52px;
			max-width: 940px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.footer{
	background: #FAF9F9;
	&__wrap{
		padding: 65px 0;
	}
	&__content{
		display: flex;
	}
	&__col{
		width: 15%;
		margin-right: 2%;
		&_last{
			margin-right: 0;
			margin-left: auto;
			width: 23.5%;
			&-img{
				margin-bottom: 1px;
			}
		}
		&-block{
			margin-bottom: 43px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		&-title{
			font-family: 'Roboto';
			font-weight: bold;
			font-size: 14px;
			color: #252526;
			margin-bottom: 20px;
			display: block;
		}
		&-links{
			li{
				margin-bottom: 14px;
				&, a{
					font-family: 'Roboto';
					font-size: 14px;
					color: #252526;
				}
			}
		}
	}
	&__socials{
		margin-top: 37px;
	}
	&__bottom{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 215px;
		margin-top: 7px;
		&-links{
			display: flex;
			align-items: center;
			margin-left: 18px;
			&-dec{
				height: 15px;
				width: 1px;
				background: #252526;
				margin-left: 7px;
				margin-right: 7px;
			}
		}
	}
}

.sec-plan{
	padding: 40px 0;
	&__wrap{
		background: #FAF9F9;
		border-radius: 32px;
		padding: 42px 38px;
	}
	&__content{
		margin-top: 20px;
	}
	&_padding{
		padding-bottom: 74px;
	}
}

.sec-questions{
	&__wrap{
		padding: 50px 0;
		padding-bottom: 92px;
	}
	&__content{
		margin-top: 48px;
	}
}

.sec-options{
	&__wrap{
		padding: 86px 0;
		padding-bottom: 30px;
	}
	&__content{
		max-width: 1066px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 48px;
	}
}

.sec-files{
	&__wrap{
		padding: 28px 0;
		padding-bottom: 63px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 1066px;
	}
	&__content{
		margin-top: 33px;
	}
}

.sec-facts{
	&__wrap{
		padding: 97px 0px;
		padding-bottom: 32px;
	}
	&__content{
		width: 100%;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 47px;
	}
}

.sec-info{
	&__wrap{
		padding: 59px 0;
		padding-bottom: 109px;
	}
	&__content{
		margin-top: 49px;
	}
}

.sec-pwp{
	background: #FAF9F9;
	&__wrap{
		padding: 78px 0;
		padding-bottom: 61px;
	}
	&__content{
		max-width: 1140px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	&__bottom{
		text-align: center;
		margin-top: 83px;
		margin-left: auto;
		margin-right: auto;
		max-width: 642px;
		width: 100%;
		&-btn{
			margin-top: 30px;
			padding: 17px 33px;
		}
	}
}

.block-links-top{
	&__wrap{
		padding: 30px 0;
	}
}

.block-articles-top{
	&__wrap{
		padding: 18px 0;
		padding-bottom: 31px;
	}
	&__content{
		display: flex;
		justify-content: space-between;
	}
	&__left{
		margin-right: 30px;
		width: 100%;
	}
	&__right{
		flex: none;
		width: 309px;
	}
	.article-el{
		margin-bottom: 21px;
	}
}

.sec-blog{
	&__top{
		margin-bottom: 47px;
	}
	&__wrap{
		padding: 96px 0;
		padding-bottom: 117px;
	}
	&__content{}
	&_2{
		.sec-blog__wrap{
			margin-left: auto;
			margin-right: auto;
			max-width: 1144px;
			width: 100%;
		}
	}
}

.sec-article{
	&__wrap{
		margin-left: auto;
		margin-right: auto;
		max-width: 1144px;
		width: 100%;
		padding: 10px 0;
		padding-bottom: 132px;
	}
	&__img{
		background: #18325E;
		border-radius: 32px;
	}
	&__content{
		margin-top: 21px;
	}
	&__bottom{
		margin-top: 26px;
		display: flex;
		align-items: center;
	}
	&__copy{
		max-width: 208px;
		width: 100%;
		margin-right: 32px;
	}
	&__links{
		margin-top: 81px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-el{}
	}
}

.sec-info-2{
	&__wrap{
		padding: 40px 0;
		padding-bottom: 60px;
	}
	&__content{
		max-width: 1144px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 49px;
	}
}

.sec-info-3{
	&__wrap{
		padding: 7px 0;
	}
	&__top{
		max-width: 1144px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		p{
			line-height: 1.75;
		}
	}
	&__title{
		margin-bottom: 14px;
	}
	&__content{
		margin-top: 34px;
	}
}

.sec-partners{
	&__wrap{
		padding: 95px 0;
	}
	&__content{
		margin-top: 47px;
	}
}

.sec-info-4{
	background-color: #fff;
	&__wrap{
		padding: 91px 0;
		padding-bottom: 82px;
	}
	&__content{
		margin-top: 45px;
	}
}

.sec-terms{
	&__wrap{
		padding: 66px 0;
	}
	&__content{
		margin-top: 51px;
	}
	&_2{
		margin-bottom: 51px;
		.sec-terms__content{
			margin-top: 25px;
		}
	}
}

.sec-header-info-3{
	&__wrap{
		padding: 30px 0;
	}
	&__top{
		text-align: center;
		margin-top: 74px;
	}
	&__content{
		margin-top: 42px;
		max-width: 1144px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	&__text{
		margin-bottom: 35px;
	}
}

.sec-people{

}

.sec-team{
	background-color: #fff;
	&__wrap{
		padding: 130px 0;
		padding-bottom: 50px;
	}
	&__content{
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 983px;
		margin-top: 52px;
	}
	&_padding{
		.sec-team__wrap{
			padding-top: 32px;
		}
	}
}

.sec-join{
	background-color: #fff;
	&__wrap{
		padding: 59px 0;
	}
	&__content{
		margin-top: 60px;
	}
}

.sec-jointeam{
	&__wrap{
		padding: 40px 0;
		padding-bottom: 132px;
	}
	&__content{
		position: relative;
		background: #FAF9F9;
		border-radius: 32px;
		max-width: 870px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: -142px;
		padding: 53px 20px;
		padding-bottom: 32px;
	}
	&__img{
		width: 100%;
	}
	&__title{
		margin-bottom: 20px;
	}
	&__btn{
		font-weight: 400;
		margin-top: 30px;
	}
}

.sec-contact{
	&__wrap{
		padding: 20px 0;
		padding-bottom: 100px;
	}
	&__img{
		border-radius: 32px;
	}
	&__content{
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 108px;
		&-body{
			max-width: 314px;
			width: 100%;
			margin-left: 38px;
			margin-top: 31px;
			flex: none;
			margin-right: 20px;
		}
		&-map{
			height: 449px;
			width: 100%;
			max-width: 789px;
			border-radius: 32px;
		}
	}
}

.sec-form-contact{
	background-color: #fff;
	&__wrap{
		padding: 32px 0;
		padding-bottom: 133px;
	}
	&__content{
		background: #FAF9F9;
		border-radius: 32px;
		padding: 56px 56px;
	}
	.block-form-2__img{
		margin-right: 85px;
	}
	.block-form-2__title {
	    margin-bottom: 26px;
	}
	.block-form-2__content {
	    margin-top: 32px;
	}
	.block-form-2__inputs-el{
		margin-bottom: 17px;
	}
	.block-form-2__btn{
		padding-left: 10px;
		padding-right: 10px;
		max-height: 208px;
		font-weight: normal;
		font-size: 16px;
	}
}