@media screen and (max-width: 1420px){
	.sec-header-page{
		background-position: center;
		background-attachment: unset;
	}
}
@media screen and (max-width: 1300px){
	.container{
		// max-width: 991px;
	}
	.sec-reviews__wrap{
		padding-top: 80px;
	}
	.sec-articles__wrap{
		padding: 50px 0;
	}
	.block-blog__el{
		width: 33.333333%;
	}
	.sec-blog__wrap{
		padding: 60px 0;
	}
	.sec-partners__wrap{
		padding: 40px 0;
	}
	.sec-info-4__wrap{
		padding: 40px 0;
	}
	.sec-plan_padding{
		padding-bottom: 40px;
	}
	.terms-el__img{
		max-width: 600px;
	}
	.terms-el__body {
	    max-width: 514px;
	}
	.top-menu_active .top-menu__linkLogo{
	}
	.top-menu_fixed{
		.top-menu__linkLogo{
			margin-right: 20px;
		}
		.links-menu__el{
			margin-right: 15px;
		}
	}
	.top-menu__right-btn{
		margin-left: 15px;
	}
}

@media screen and (max-width: 1100px){
	.terms-el__img {
	    max-width: 450px;
	}
}

@media screen and (max-width: 1023px){
	.top-menu_fixed{
		.top-menu__nav, .top-menu__right{
			
		}
		.top-menu__btn{
			display: block;
		}
		.top-menu__content{
			justify-content: space-between;
		}
		.top-menu__linkLogo{
			max-width: 60px;
		}
		@include mobMenu;
	}
	.top-menu__right{
		display: none !important;
	}
}

@media screen and (max-width: 1023px){
	.container{
		max-width: 708px;
		padding: 0 24px;
	}
	.top-menu, .footer{
		.container{
			max-width: 100%;
		}
	}
	.block-work{
		max-height: 800px;
	}
	.block-work{
		margin-left: -20px;
		margin-right: -20px;
	}
	.block-work__el{
		padding: 0 20px;
	}
	.sec-strategy__wrap{
		padding: 50px 0;
	}
	.sec-strategy__content{
		margin-top: 40px;
	}
	.block-strategy__el{
		width: 33.333333%;
	}
	.reviews-el__text{
		margin-bottom: 15px;
	}
	.reviews-el{
		padding: 40px 20px;
		padding-bottom: 80px;
	}
	.block-reviews__el{
		padding: 0 60px;
	}
	.articles-el{
		// flex-direction: column;
	}
	.articles-el__img{
		// order: 1;
		// width: 100%;
		// border-radius: 0;
		max-width: 258px;
		height: 264px;
	}
	.articles-el__body-img{
		position: static;
		top: 24px;
		left: 24px;
		right: auto;
		margin-bottom: 16px;
		order: 2;
	}
	.articles-el__title{
		// margin-top: 80px;
		margin-bottom: 16px;
		order: 1;
	}
	.articles-el__text{
		order: 3;
	}
	.articles-el__body{
		padding: 24px 24px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.articles-el__link{
		order: 4;
	}
	.footer__col{
		width: 18%;
	}
	.footer__content{
		flex-wrap: wrap;
	}
	.footer__col{
		margin-bottom: 32px;
		width: 25%;
		margin-right: 0;
		padding-right: 20px;
	}
	.footer__col_last{
		width: 100%;
	}
	.footer__bottom{
		margin-right: auto;
		margin-left: auto;
	}
	.sec-services__wrap{
		padding-top: 50px;
	}

	.sec-header-page__links .links-menu__link{
		font-size: 16px;
	}
	.block-options__el{
		width: 50%;
		margin-bottom: 16px;
	}
	.sec-options__wrap{
		padding-top: 40px;
	}

	.sec-facts__wrap{
		padding-top: 50px;
	}

	.block-articles-top__content{
		display: block;
	}
	.block-articles-top__right{
		margin-left: auto;
		margin-right: auto;
	}
	.block-blog__el{
		width: 50%;
	}

	.info-el-2__img{
		max-width: 300px;
	}
	.block-info-3__el{
		width: 50%;
	}
	.block-partners__el{
		width: 25%;
	}

	.sec-header-info-2__content{
		display: block;
	}
	.sec-header-info-2__content-img{
		margin: 0;
		margin-bottom: 40px;
	}
	.block-info-4__el{
		width: 50%;
	}
	.sec-terms__wrap{
		padding: 30px 0;
	}
	.terms-el{
		flex-direction: column;
		&__img{
			order: 1;
			max-width: 100%;
			margin: 0;
			margin-bottom: 22.7px;
			max-height: 400px;
		}
		&__body{
			order: 2;
		}
	}

	.sec-header-info-3__top{
		margin-top: 40px;
	}
	.block-team__el{
		width: 33.33333%;
	}
	.sec-team__wrap{
		padding: 30px 0;
	}
	.sec-join__wrap{
		padding-bottom: 30px;
	}
	.sec-jointeam__content{
		margin: 0 auto;
		max-width: 90%;
		margin-top: -100px;
	}
	.sec-jointeam__wrap{
		padding-bottom: 60px;
	}

	.sec-form-contact{
		.block-form-2{
			display: block;
		}
		.block-form-2__img{
			margin: 0;
			margin-bottom: 20px;
		}
	}
	.sec-form-contact__wrap{
		padding-bottom: 56px;
	}
	// .top-menu_fixed{
	// 	.top-menu__wrap{
	// 		padding: 10px 0;
	// 	}
	// 	.top-menu__linkLogo{
	// 		max-width: 50px;
	// 	}
	// 	.links-menu__link{
	// 		font-size: 12px;
	// 	}
	// }
	.top-menu__right-btn{
		padding: 15px 15px;
	}
	.top-menu__right-link{
		font-size: 12px;
	}
	.top-menu__right-btn{
		font-size: 12px;
	}
	.top-menu_fixed .links-menu__el{
		margin-right: 10px;
	}
	.top-menu__right-btn{
		margin-left: 10px;
	}

}

@media screen and (max-width: 1023px){
	.container{
		padding: 0 24px;
	}
	.top-menu_fixed{
		.top-menu__nav{
			// display: none;
		}
	}
	.container{
		// max-width: 600px;
	}
	.links-menu__link{
		white-space: nowrap;
	}
	.top-menu_home:not(.top-menu_active){
		.links-menu__el{
			margin-right: 20px;
		}
		.links-menu__link{
			font-size: 16px;
		}
	}
	.top-menu_active{
		.links-menu__el{
			margin-right: 20px;
			&:last-child{
				margin-right: 0;
			}
		}
		.top-menu__linkLogo{
			margin-right: 20px;
		}
		.top-menu__linkLogo{
			max-width: 60px;
		}
		.links-menu__link{
			font-size: 13px;
		}
	}
	.block-services__el{
		width: 50%;
		padding: 0 8px;
		margin-bottom: 16px;
	}
	.block-work{
		flex-direction: row;
		max-height: none;
		margin-left: auto;
		margin-right: auto;
	}
	.sec-work__wrap{
		padding-top: 0px;
	}
	.block-form-2__img{
		margin-right: 20px;
	}
	.block-form-2__inputs{
		display: block;
		&-el{
			width: 100%;
		}
	}
	.footer__col{
		width: 33.33333%;
	}
	.sec-form__wrap{
		padding-bottom: 50px;
	}
	.message-info{
		bottom: 9px;
		left: 8px;
		right: 8px;
		max-width: 100%;
		width: auto;
	}

	.sec-header-page{
		.container{
			max-width: 100%;
		}
	}
	.sec-header-page__links{
		overflow-x: auto;
		.links-menu__link{

		}
		.links-menu__el{
			margin-right: 24px;
			margin-bottom: 20px;
		}
	}
	.sec-header-page__content{
		margin-top: 40px;
	}
	.sec-form_2{
		.block-form-2{
			// display: block;
		}
	}
	.sec-form_2 .sec-form__wrap{
		padding: 50px 0;
	}

	.block-options__el{
		width: 100%;
	}
	.sec-files__wrap{
		padding-bottom: 30px;
	}

	.block-facts__el{
		width: 50%;
	}
	.sec-info__wrap{
		padding-bottom: 50px;
	}
	body{
		overflow-x: hidden;
	}
	.sec-header-page_2 .sec-header-page__wrap{
		padding-bottom: 75px;
		padding-top: 40px;

	}

	.block-articles-top__right{
		width: 100%;
		.article-el__img{
			display: none;
		}
		.article-el__body{
			margin: 0;
			padding: 0;
		}
	}

	.info-el-2__img{
		max-width: 200px;
	}
	.sec-info-2__wrap{
		padding-bottom: 0;
	}
	.block-partners{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.block-partners__el{
		width: 33.33333%;
		text-align: center;
		margin-bottom: 10px;
	}

	.people-el{
		display: block;
		padding: 40px 40px;
	}
	.people-el__left{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}
	.block-team__el{
		width: 50%;
	}
	.block-join__el{
		width: 50%;
	}
	.sec-jointeam__content{
		padding: 30px 20px;
	}

	.sec-contact__content-body{
		margin: 0;
	}
	.sec-contact__content{
		display: block;
		margin-top: 24px;
	}
	.sec-contact__wrap{
		padding-bottom: 40px;
	}
	.sec-form-contact__content{
		padding: 0;
		background-color: #fff;
	}
}

// 600
@media screen and (max-width: 1023px){
	.block-terms__el{}
	.block-terms__el-title{
		margin-bottom: 16px;
	}
	.work-el__text{
		min-height: 0;
		margin-bottom: 0;
	}
	.container{
		padding: 0 24px;
	}
	.top-menu__right{
		display: none !important;
	}
	.top-menu{
		background: #FFFFFF;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
		position: fixed;
	}
	.top-menu__logo{
		max-width: 58.3px;
	}
	.top-menu_active .top-menu__wrap{
		padding: 6px 0;
	}
	.top-menu__wrap{
		padding: 6px 0;
	}
	.top-menu__btn{
		display: block;
	}
	.top-menu_active .top-menu__content{
		justify-content: space-between;
	}
	.padding-top-menu-active{
		padding-top: 56px;
	}
	.top-menu__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.top-menu{
		@include mobMenu;
	}

	.text-info{
		font-size: 16px;
	}




	.padding-top-menu{
		padding-top: 55.73px;
	}
	.title_main{
		font-size: 32px;
		letter-spacing: -0.005em;
	}
	.sec-header__content{
		margin-top: 0;
	}
	.sec-header__wrap{
		padding: 31px 0;
	}
	.sec-header__title{
		margin-bottom: 27px;
	}
	.text-sec{
		line-height: 1.55;
	}
	.sec-header__btn{
		width: 100%;
	}
	.sec-header__info{
		font-size: 0;
		margin: 0;
		line-height: 0;
		margin-right: 12px;
		.info-dec__img{
			margin: 0;
			max-width: 112px;
		}
	}
	.sec-header__bottomText{
		margin: 0;
		padding-top: 5px;
	}
	.sec-header__bottomInfo{
		display: flex;
		align-items: center;
		justify-content: center;
		.text-info{
			font-size: 16px;
		}
	}
	.sec-header__btn{
		margin-bottom: 51px;
		max-width: 332px;
		margin-top: 29px;
		margin-left: auto;
		margin-right: auto;
	}
	.sec-header{
		background: #FAF9F9;
		min-height: 0;
		&::after{
			display: none;
		}
	}
	.modal__wrap{
		padding: 0;
	}
	.modal-content{
		border-radius: 0;
		min-height: 100vh;
		padding: 26px 15px;
		padding-right: 20px;
		width: 100%;
		max-width: 100%;
	}
	.title_sec{
		font-size: 32px;
		line-height: 1.25;
	}
	.modal-content__close{
		margin-top: 2px;
	}
	.title_small{
		font-size: 20px;
	}
	.ul-descrp li{
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 1px;
	}
	.modal-content__content-title {
	    margin-bottom: 5px;
	}
	.modal-content__form {
	    margin-top: 15px;
	}
	.block-form__btn{
		width: 100%;
	}
	.sec-descrp{
		.container{
			padding: 0;
		}
		&__content{
			padding: 0;
		}
	}
	.sec-header__links{
		display: flex;
		margin-bottom: 11px;
	}
	.sec-descrp__content{
		position: relative;
		&::after{
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 100%;
			background: #FAF9F9;
			height: 20px;
			z-index: 10;
		}
	}
	.sec-descrp_white{
		.sec-descrp__content::after{
			display: none;
		}
	}
	.block-descrp{
		overflow-x: auto;
		display: flex;
		flex-wrap: nowrap;
		margin: 0;
		padding: 0 16px;
		max-width: 669px;
		margin-left: auto;
		margin-right: auto;
		&__el{
			width: 120px;
			flex: none;
			padding: 0;
			margin-right: 15px;
			margin-bottom: 0;
			&:last-child{
				margin-right: 0;
			}
		}
	}
	.block-descrp__el{
		margin-bottom: 31px;
	}
	.descrp-el__icon{
		max-width: 48px;
		margin-bottom: 16px;
	}
	.sec-descrp__wrap{
		padding: 41px 0;
		padding-bottom: 0;
	}
	.descrp-el__text{
		font-size: 14px;
	}
	.sec-services__wrap{
		padding: 45px 0;
		padding-bottom: 32px;
	}
	.block-services__el{
		width: 100%;
		margin-bottom: 16px;
	}
	.block-work{
		display: block;
	}
	.block-form-2{
		// display: block;
	}
	.sec-services__content{
		margin-top: 23px;
	}
	.services-el__title{
		margin-bottom: 15px;
	}
	.services-el{
		padding: 32px 26px;
		padding-bottom: 24px;
		background: #FAF9F9;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border-radius: 32px;
	}
	.sec-work__wrap{
		padding: 7px 0;
	}
	.block-work__el{
		width: 100%;
	}
	.work-el__count{
		margin-right: 16px;
		font-size: 20px;
		width: 32px;
		height: 32px;
	}
	.work-el__title{
		font-size: 18px;
	}
	.work-el{
		position: relative;
		background: #FAF9F9;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border-radius: 32px;
		padding: 17px 15px;
		border-radius: 32px;
		// padding-bottom: 6px;
		&__count{
			position: absolute;
		    top: 18px;
    		left: 17px;
		}
		&__title{
			margin-left: 50px;
			margin-bottom: 0;
			height: 32px;
			display: flex;
			align-items: center;
		}
		&__text{
			margin-top: 14px;
			// margin-bottom: -10px;
			display: none;
		}
		&__btn{
			width: 25px;
			height: 25px;
			flex: none;
			position: absolute;
			top: 20px;
			right: 17px;
			cursor: pointer;
		}
		&.active{
			.work-el__btn-line{
				display: none;
			}
		}
	}
	.sec-work__content{
		margin-top: 20px;
	}
	.text-info-3{
		font-size: 16px;
	}
	.block-work__el{
		margin-bottom: 10px;
	}
	.sec-work__wrap{
		padding-bottom: 46px;
	}
	.sec-strategy__wrap{
		padding: 35px 0;
		padding-bottom: 10px;
	}
	.title_margin {
	    margin-bottom: 18px;
	}
	.strategy-el__text{
		font-size: 18px;
	}
	.strategy-el{
		height: auto;
	}
	.block-strategy{
		margin-left: -12px;
		margin-right: -12px;
	}
	.block-strategy__el{
		padding: 0 12px;
	}
	.sec-strategy__content{
		margin-top: 25px;
	}
	.strategy-el{
		padding: 18px 10px;
	}
	.sec-reviews__wrap{
		padding: 58px 0;
	}
	.sec-reviews__content .block-reviews__el{
		padding: 0;
	}
	.sec-reviews{
		overflow: hidden;
		&__content{
			margin-top: 23px;
		}
	}
	.block-reviews{
		max-width: 640px;
		margin-left: auto;
		margin-right: auto;
		.owl-nav{
			display: none;
		}
		.owl-stage-outer, .owl-stage{
			overflow: visible;
		}
		.owl-dots{
			position: static;
			margin-top: 20px;
			padding: 0;
		}
	}
	.reviews-el{
		padding: 23px 25px;
		// padding-bottom: 21px;
	}
	.reviews-el__text{
		margin-bottom: 23px;
	}
	.reviews-el__name{
		font-size: 18px;
	}
	.reviews-el__bottom{
		margin-top: 23px;
	}
	.reviews-el__name + .reviews-el__text{
		font-size: 14px;
	}
	.sec-reviews__bottom{
		margin-top: 27px;
	}
	.info-dec-2__left{
		margin-right: 5px;
	}
	.sec-articles{
		.container{
			padding: 0;
		}
	}
	.sec-articles__wrap{
		padding: 0;
	}
	.articles-el{
		flex-direction: column;
		display: flex;
	}
	.articles-el__img{
		width: 100%;
		border-radius: 0;
		min-height: 0;
		max-width: 100%;
		height: auto;
		order: 1;
	}
	.articles-el__body{
		padding: 16px 14px;
		padding-right: 25px;
		order: 2;
	}
	.articles-el__title{
		margin-right: 100px;
	}
	.articles-el__body-img{
		top: 18px;
		right: 16px;
	}
	.articles-el__title{
		margin-bottom: 18px;
	}
	.articles-el__link{
		margin-top: 21px;
	}
	.block-articles__el{
		margin-bottom: 20px;
	}
	.articles-el__body{
		padding-bottom: 40px;
	}
	.block-form-2__title{
		margin-bottom: 15px;
	}
	.block-form-2{
		.checkbox-el{
			margin-top: 27px;
		}
	}
	.block-form-2__img{
		margin: 0;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		margin-bottom: 7px;
		margin-top: 28px;
		margin-right: 20px;
	}
	.block-form-2__content {
	    margin-top: 26px;
	    max-width: 437px;
	}
	.block-form-2__inputs-el{
		margin-bottom: 16px;
	}
	.block-form-2__btn{
		display: flex;
		width: 100%;
		margin-top: 31px;
	}
	.sec-form__wrap{
		padding-top: 8px;
		padding-bottom: 56px;
	}
	.footer__col{
		padding: 0;
		width: 100%;
		margin-bottom: 27px;
	}
	.footer__wrap{
		padding: 28px 0;
	}
	.footer__col-links{
		margin-top: 12px;
	}
	.footer__col-title{
		margin-bottom: 0;
	}
	.footer__col-links_main{
		display: none;
		.footer__col-title{
			margin-bottom: 0;
		}
	}
	.footer__col-block {
	    margin-bottom: 27px;
	}
	.footer__socials{
		margin-top: 32px;
	}
	.footer__bottom{
		display: block;
		.text-info-small{
			display: inline;
		}
		.footer__bottom-links{
			margin: 0;
		}
	}
	.services-el{
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	}
	.articles-el{
		background: #FAF9F9;
		border-radius: 0;
	}
	.message-info{
		padding: 14px 16px;
		border-radius: 32px;
	}
	.message-info__close{
		top: 14px;
		right: 14px;
	}
	.sec-header-page__content{
		margin-top: 21px;
	}
	.sec-header-page__title{
		margin-bottom: 27px;
	}
	.sec-header-page__text{
		letter-spacing: 0;
		// line-height: 1.3;
	}
	.sec-header-page{
		background: #fff !important;
	}
	.sec-header-page__btn{
		display: flex;
		width: 100%;
	}
	.sec-header-page__wrap{
		padding-bottom: 26px;
	}
	.block-descrp_black{
		display: block;
		.block-descrp__el{
			width: 100%;
			margin: 0;
			max-width: 100%;
			margin-bottom: 10px;
		}
		.descrp-el{
			display: flex;
			text-align: left;
			&__icon{
				width: 32px;
				height: 32px;
				margin-right: 16px;
				margin-bottom: 0;
				margin-top: 6px;
			}
			.descrp-el__text{
				font-size: 16px;
				line-height: 1.5;
				display: flex;
				align-items: center;
			}
		}
	}
	.sec-plan{
		padding: 22px 0;
	}
	.sec-plan__wrap{
		padding: 31px 17px;
	}
	.sec-plan__content{
		margin-top: 14px;
	}
	.wrap-article{
		line-height: 1.5;
	}
	.sec-form_2{
		.block-form-2__img{
			max-width: 240px;
			width: 100%;
			margin: 0;
			height: 296px;
			object-fit: cover;
			object-position: center;
			border-radius: 32px;
			margin-right: 24px;
			margin-bottom: 0;
		}
	}
	.sec-form_2 .block-form-2__body{
		margin-top: 0;
	}
	.sec-form_2 .sec-form__wrap{
		padding: 29px 0;
	}
	.question-el__title{
		font-size: 18px;
	}
	.sec-questions__wrap{
		padding: 24px 0;
	}
	.question-el__btn{
		width: 25px;
		height: 25px;
	}
	.sec-questions__content{
		margin-top: 17px;
	}
	.question-el__top{
		padding: 21px 17px;
		align-items: flex-start;
	}
	.question-el__body{
		padding: 0 16px;
		padding-bottom: 24px;
	}
	.wrap-article h3{
	    font-size: 24px;
	}
	.wrap-article p{
		min-height: 22.7px;
	}
	.ul-dec li{
		padding-left: 30px;
	}
	.sec-options__wrap{
		padding-top: 28px;
	}
	.sec-options__content{
		margin-top: 26px;
	}
	.options-el__title{
		font-size: 24px;
		text-align: center;
		display: block;
		width: 100%;
	}
	.options-el{
		padding: 24px 25px;
		box-shadow: 0px 6px 32px rgba(158, 149, 149, 0.36);
	}
	.options-el__body p{
		margin-bottom: 22px;
	}
	.options-el__link{
		margin-top: 13px;
	}
	.options-el__btn{
		display: flex;
		width: 100%;
	}
	.sec-files__top{
		.title{
			font-size: 24px;
		}
	}
	.sec-files__wrap{
		padding: 7px 0;
	}
	.block-files{
		margin-left: -12px;
		margin-right: -12px;
	}
	.block-files__el{
		margin-right: 0;
		width: 50%;
		max-width: 100%;
		padding: 0 12px;
	}
	.files-el__icon{
		max-width: 26px;
	}
	.sec-files__content{
		margin-top: 25px;
	}
	.files-el__text{
		font-size: 14px;
	}
	.block-facts{
		flex-wrap: nowrap;
		overflow-x: auto;
		margin: 0;
		margin-bottom: -20px;
	}
	.block-facts__el{
		width: 136px;
		flex: none;
		max-width: none;
		padding: 0;
		margin-bottom: 10px;
		margin-right: 24px;
	}
	.sec-facts__wrap{
		padding-top: 17px;
	}
	.facts-el__icon{
		width: 48px;
		height: 48px;
	}
	.sec-facts__content{
		margin-top: 25px;
	}
	.facts-el__text{
		font-size: 14px;
	}
	.sec-facts__wrap{
		padding-bottom: 0;
	}
	.sec-info__wrap{
		padding: 30px 0;
		padding-bottom: 50px;
	}
	.sec-info__content{
		margin-top: 19px;
	}
	.info-el{
		padding: 22px 17px;
		position: relative;
		&__count{
			position: absolute;
			top: 22px;
			left: 17px;
		}
		&__title{
			padding-left: 47px;
			min-height: 32px;

		}
	}
	.info-el__title{
		font-size: 16px;
		margin-bottom: 7px;
	}
	.info-el__text{
		line-height: 1.5;
	}
	.sec-header-page_2 .sec-header-page__wrap{
		padding: 55px 0;
		padding-bottom: 17px;
	}
	.sec-header-page_2 .sec-header-page__content{
		.sec-header-page__title{
			padding: 0 20px;
		}
		.sec-header-page__title{
			margin-bottom: 13px;
		}
	}
	.sec-form_2 .sec-form__wrap{
		padding-bottom: 49px;
	}
	.block-pwp{
		margin: 0;
		margin-bottom: -52px;
		margin-left: -30px;
		margin-right: -30px;
	}
	.block-pwp__el{
		padding: 0 30px;
		margin: 0;
		// width: 192px;
		// min-width: 50%;
		margin-bottom: 52px;
		&:nth-child(1), &:nth-child(3){
			// width: 192px;
			// margin-right: -54px;
			position: relative;
			z-index: 10;
		}
	}
	.pwp-el{
		max-width: 290px;
	}
	.sec-pwp__wrap{
		padding: 42px 0;
	}
	.pwp-el{
		text-align: left;
	}
	.pwp-el__title{
		font-size: 14px;
		line-height: 1.3;
		margin-top: 13px;
		padding-right: 40px;
	}
	.pwp-el__dec{
		margin-left: 28px;
		margin-top: 0;
		height: 40px;
	}
	.block-pwp__el:nth-child(2n){
		margin-top: 41px;
	}
	.sec-pwp__bottom-text{
		font-size: 14px;
	}
	.sec-pwp__bottom{
		padding: 0 2px;
		margin-top: 44px;
	}
	.sec-pwp__bottom-btn{
		width: 100%;
		margin-top: 21px;
	}
	.sec-plan{
		padding: 34px 0;
	}

	.modal_login{

	}
	.modal_login .modal__wrap{
		padding-top: 40px;
		padding-left: 16px;
		padding-right: 16px;
	}
	.modal-content_login__bottom{
		display: block;
		margin-top: 24px;
		text-align: center;
	}
	.modal-content_login__bottom .block-form__btn{
		margin-right: 0;
		width: 100%;
		margin-bottom: 24px;
	}
	.modal-content_login{
		min-height: 0;
		border-radius: 32px;
		padding: 16px 24px;
		padding-bottom: 33px;
	}

	.sec-header-page{
		min-height: 0;
	}
	.links-menu__link{
		font-size: 14px;
	}
	.block-links-top__wrap{
		padding: 25px 0;
		padding-bottom: 20px;
	}
	.block-articles-top__wrap{
		padding: 0;
		padding-bottom: 30px;
	}
	.article-el_big__title{
		font-size: 20px;
	}
	.article-el__body{
		padding: 0;
	}
	.article-el_big__body{
		margin-top: 14px;
	}
	.article-el__date{
		margin-top: 15px;
	}
	.block-articles-top .article-el{
		margin-bottom: 25px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	.block-articles-top__left{
		margin-bottom: 25px;
	}
	.sec-blog__wrap{
		padding: 33px 0;
	}
	.block-blog__el{
		width: 100%;
	}
	.blog-el__img{
		height: 328px;
	}
	.blog-el__title{
		margin-bottom: 6px;
	}

	.block-links-top{
		.container{
			// display: none;
		}
	}
	.crumbs__text{
		font-size: 14px;
	}
	.crumbs__active{
		font-weight: 400;
	}
	.crumbs__el{
		display: none;
		&:first-child{
			display: block;
		}
		.crumbs__link{
			padding-left: 11px;
			letter-spacing: 0.03em;
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: -3px;
				width: 10px;
				height: 10px;
				background: url('../img/icons/arr.svg') no-repeat center / contain;
			}
		}
	}
	.sec-article__wrap{
		padding: 20px 0;
	}
	.crumbs_margin {
	    margin-bottom: 12px;
	}
	.sec-article__img{
		width: 100%;
		height: 208px;
		object-fit: cover;
		object-position: top;
	}
	.wrap-blog h1, .wrap-blog h2, .wrap-blog h3, .wrap-blog h4, .wrap-blog h5{
		font-size: 20px;
	}
	.sec-article__content {
	    margin-top: 13px;
	}
	.wrap-blog__date{
		margin-top: 7px;
	}
	.wrap-blog p, .wrap-blog li{
		font-size: 16px;
	}
	.wrap-blog__date{
		margin-bottom: 10px;
	}
	.wrap-blog p, .wrap-blog li{
		line-height: 1.5;
	}
	.wrap-blog h6{
		font-size: 16px;
	}
	.sec-article__bottom{
		display: block;
	}
	.sec-article__copy{
		max-width: 100%;
		margin: 0;
		margin-bottom: 32px;
	}
	.sec-article__links{
		display: block;
	}
	.sec-article__links{
		margin-top: 48px;
	}
	.link-article__title{
		font-size: 20px;
	}
	.link-article__top{
		margin-bottom: 12px;
	}
	.sec-article__links-el{
		margin-bottom: 30px;
	}
	.sec-article__wrap{
		padding-bottom: 62px;
	}
	.sec-blog__wrap{
		padding: 45px 0;
	}
	.sec-blog__top{
		margin-bottom: 31px;
	}

	.sec-header-info__links{
		overflow-x: auto;
		justify-content: flex-start;
		.links-menu__el{
			flex: none;
			margin-right: 16px;
			margin-bottom: 20px;
		}
		.links-menu__link{
			font-size: 16px;
		}
	}
	.title_big{
		font-size: 32px;
	}
	.sec-header-info__content{
		margin-top: 24px;
	}
	.sec-header-info__content{
		.text-info-3{
			text-shadow: 0px 4px 16px rgba(255, 255, 255, 0.6);
			font-size: 18px;
			line-height: 1.36;
		}
	}
	.sec-header-info__title{
		margin-bottom: 15px;
	}
	.sec-header-info__wrap{
		padding-bottom: 30px;
	}
	.sec-info-2__wrap{
		padding: 26px 0;
	}
	.info-el-2{
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		&__img{
			order: 1;
			width: 100%;
			max-width: 100%;
			height: 160px;
			border-radius: 0;
			min-height: 0;
		}
		&__body{
			order: 2;
		}
	}
	.sec-info-2__content{
		margin-top: 27px;
	}
	.info-el-2__body{
		padding: 25px 16px;
		padding-bottom: 56px;
	}
	.block-info-2{
		.owl-dots{
			position: absolute;
			bottom: 5px;
			left: 0;
			width: 100%;
			padding: 20px 0;
		}
		.block-info-2__el, .info-el-2{
			height: 100%;
		}
		.owl-stage{
			display: flex;
		}
	}
	.block-info-2__el{
		margin-bottom: 0;
	}
	.sec-info-2__wrap{
		padding-bottom: 9px;
	}
	.block-info-3__el{
		width: 100%;
	}
	.info-el-3{
		padding: 17px 18px;
	}
	.info-el-3__top{
		align-items: flex-start;
	}
	.info-el-3__title{
		line-height: 1.6;
	}
	.info-el-3__top{
		margin-bottom: 8px;
	}
	.block-info-3__el{
		margin-bottom: 17px;
	}
	.sec-partners__wrap{
		padding: 30px 0;
	}
	.block-partners__el{
		width: 50%;
	}

	.links-menu_2{
		overflow-x: auto;
		justify-content: center;
		.links-menu__el{
			margin: 0;
			margin-bottom: 30px;
			margin-right: 25px;
		}
		.links-menu__link{
			font-size: 16px;
		}
	}
	.sec-header-info-2__top{
		margin-top: 12px;
	}
	.sec-header-info-2__content-img{
		max-width: 100%;
	}
	.sec-header-info-2__content{
		margin-top: 33px;
	}
	.sec-header-info-2__content-img{
		border-radius: 32px;
		max-height: 269px;
		width: 100%;
		object-fit: cover;
	}
	.sec-header-info-2__content-img{
		margin-bottom: 15px;
	}
	.sec-header-info-2__icon{
		margin-top: 0;
		max-width: 50px;
	}
	.sec-header-info-2__icon {
	    margin-top: 4px;
	    max-width: 73px;
	}
	.sec-header-info-2__wrap{
		padding-bottom: 42px;
	}
	.block-info-4__el{
		width: 100%;
	}
	.sec-info-4__content {
	    margin-top: 26px;
	}
	.info-el-4{
		padding: 16px 17px;
	}
	.block-info-4{
		position: relative;
		margin: 0;
		.owl-stage{
			display: flex;
		}
		.owl-item{
			// height: 100%;
			padding-bottom: 20px;
		}
		.block-info-4__el{
			padding: 0;
			margin: 0;
			height: 100%;
			margin-bottom: 50px;
		}
		.owl-dots{
			position: absolute;
			bottom: 28px;
			left: 0;
			width: 100%;
			padding: 10px 0;
		}
	}
	.info-el-4{
		padding-bottom: 0;
	}
	.sec-info-4__wrap{
		padding-bottom: 0;
	}
	.sec-plan_padding{
		.sec-top{
			text-align: left;
		}
		.sec-plan__content{
			p:first-child:empty{
				display: none;
			}
		}
	}
	.sec-plan__wrap {
	    padding: 27px 17px;
	}
	.sec-terms__wrap{
		padding: 18px 0;
	}
	.terms-el{
		// display: block;
	}
	.sec-terms__content {
	    margin-top: 18px;
	}
	.terms-el__img{
		max-height: 173px;
		width: 100%;
	}
	.block-terms__el{
		margin-bottom: 48px;
	}
	.descrp-el-2__text{
		margin-top: 0;
	}
	.sec-terms_2{
		margin-bottom: 20px;
	}

	.sec-header-info-3__title{
		font-size: 32px;
	}
	.sec-header-info-3__top {
	    margin-top: 13px;
	}
	.sec-header-info-3__content{
		margin-top: 15px;
	}
	.sec-header-info-3__text{
		font-size: 18px;
		line-height: 1.4;
		margin-bottom: 20px;
	}
	.people-el__left{
		max-width: 100%;
		width: 100%;
		text-align: left;
		display: flex;
	}
	.people-el{
		padding: 0 17px;
		padding-top: 72px;
		position: relative;
	}
	.people-el__title{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 24px;
		margin: 0;
		padding-top: 26px;
	}
	.people-el__img{
		width: 120px;
		height: 120px;
	}
	.people-el__name{
		font-size: 18px;
		margin-bottom: 9px;
	}
	.people-el__who{
		font-size: 14px;
	}
	.people-el__left-body{
		margin-left: 18px;
		margin-top: 18px;
	}
	.people-el__soc{
		margin-bottom: 20px;
	}
	.people-el__left{
		margin-bottom: 32px;
	}
	.team-el__img{
		width: 120px;
		height: 120px;
		margin-bottom: 19px;
	}
	.team-el__name{
		font-size: 16px;
	}
	.team-el__who{
		font-size: 14px;
		margin-bottom: 6px;
	}
	.team-el__soc-icon{
		max-width: 16px;
	}
	.title_small{
		font-size: 24px;
	}
	.sec-team__content{
		margin-top: 34px;
	}
	.team-el__name{
		margin-bottom: 3px;
	}
	.team-el__who{
		line-height: 1.5;
	}
	.block-team__el{
		margin-bottom: 24px;
	}
	.block-team{
		margin-bottom: -24px;
	}
	.sec-join__content{
		margin-top: 32px;
	}
	.block-join__el{
		width: 100%;
	}
	.join-el__title{
		font-size: 16px;
	}
	.join-el__title{
		margin-bottom: 4px;
	}
	.block-join__el{
		margin-bottom: 16px;
	}
	.sec-jointeam__content{
		margin: 0;
		max-width: 100%;
	}
	.sec-jointeam__img{
		border-radius: 32px 32px 0px 0px;
	}
	.sec-jointeam__content{
		padding: 24px 16px;
	}
	.sec-jointeam__title{
		margin-bottom: 16px;
	}
	.sec-jointeam__btn{
		margin-top: 16px;
	}
	.sec-jointeam__wrap{
		padding-bottom: 56px;
	}
	.sec-join__wrap{
		padding: 20px 0;
	}
	.sec-team_padding .sec-team__wrap{
		padding-top: 0;
	}

	.sec-header-info-3__wrap{
		padding-bottom: 0;
	}
	.sec-contact__wrap{
		padding: 24px 0;
	}
	.sec-contact__img{
		height: 225px;
		object-fit: cover;
	}
	.block-contact__bold{
		font-size: 16px;
	}
	.block-contact__link{
		font-size: 16px;
	}
	.block-contact__el{
		p{
			min-height: 10px;
		}
	}
	.block-contact__el{
		margin-bottom: 26px;
	}
	.block-contact__time{
		font-size: 16px;
	}
	.block-contact__title{
		margin-bottom: 3px;
	}
	.sec-contact__content-map{
		height: 186px;
		width: 100%;
		max-width: 100%;
	}
	.sec-form-contact{
		.block-form-2__img{
			margin: 0;
			width: 100%;
			max-width: 100%;
			height: 224px;
			object-fit: cover;
			border-radius: 32px;
		}
	}
	.sec-form-contact__wrap{
		padding: 63px 0;
	}
	.block-form-2__body{
		margin-top: 20px;
	}
	.sec-form-contact .block-form-2__title {
	    margin-bottom: 17px;
	}
	.sec-form-contact .block-form-2__content {
	    margin-top: 16px;
	}

	.articles-el__body-img{
		position: static;
		margin-bottom: 15px;
	}
	.articles-el__text{
		// padding-bottom: 70px;
	}
	.articles-el__title{
		margin-bottom: 15px;
	}

	.sec-facts__content{
		position: relative;
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 10px;
			width: 100%;
			background-color: #fff;
		}
	}
	.work-el__title{
		font-size: 18px;
	}
	.links-menu__dropdown{

	}
	.question-el__title{
		font-size: 18px;
	}
	.question-el__top{
		padding: 16px;
	}
	.block-services{
		max-width: 658px;
		margin-left: auto;
		margin-right: auto;
	}
	.block-reviews{
		.owl-item{
			opacity: 0;
			transition: .2s;
			&.active{
				opacity: 1;
			}
		}
	}

	.block-articles{
		max-width: 640px;
		margin-left: auto;
		margin-right: auto;
		&__el{}
	}
	.articles-el{
		border-radius: 36px;
		overflow: hidden;
		&__img{
			height: 232px;
			object-position: top;
		}
	}

	.block-info-4{

	}
	.sec-info-4__top{
		text-align: left;
		padding-left: 48px;
	}
	.block-info-4 .owl-dots{
		position: static;
	}
	.info-el-4{
		padding: 16px 16px;
	}
	.block-info-4 .block-info-4__el{
		margin-bottom: 0;
	}
	.terms-el__body{
		max-width: 100%;
	}
}

@media screen and (max-width: 768px){
	.sec-header__title{
		max-width: 540px;
		margin-left: auto;
		margin-right: auto;
	}
	.sec-header{
		.text-sec{
			margin-left: auto;
			margin-right: auto;
			max-width: 536px;
		}
	}
	.sec-header__btn{
		margin-top: 34px;
		margin-bottom: 47px;
	}
	.block-descrp{
		max-width: 568px;
	}
	.descrp-el__text{
		line-height: 1.4;
	}
	.sec-services__wrap{
		padding-top: 41px;
	}
	.work-el{
		padding: 19px 15px;
	}
	.work-el__text{
		padding-right: 30px;
	}
}

@media screen and (max-width: 767px){
	.container{
		max-width: 633px;
	}
	.block-services{
		max-width: 566px;
		margin-left: auto;
		margin-right: auto;
	}
	.block-strategy{
		margin-left: -8px;
		margin-right: -8px;
	}
	.block-strategy__el{
		padding: 0 8px;
	}
	.sec-strategy__content{
		margin-left: auto;
		margin-right: auto;
		max-width: 543px;
	}
	.block-strategy__el{
		margin-bottom: 16px;
	}
	.sec-reviews__wrap{
		padding: 62px 0;
		padding-bottom: 50px;
	}
	.block-reviews, .block-articles{
		max-width: 545px;
		margin-left: auto;
		margin-right: auto;
	}
	.block-form-2{
		display: block;
	}
	.block-form-2__img{
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
	}
	.sec-form__wrap{
		padding-top: 60px;
	}
	.block-form-2__body{
		margin-top: 11px;
	}
	.block-form-2__body{
		max-width: 543px;
		margin-left: auto;
		margin-right: auto;
	}
	.block-form-2__content{
		max-width: 100%;
	}
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.links-menu_2{
		justify-content: flex-start;
		.links-menu__el{
			.links-menu__link{
				display: block;
				width: 100%;
			}
			width: 100%;
			// margin-right: 0;
			text-align: center;
		}
	}
	.block-services{
		margin: 0;
	}
	.block-services__el{
		padding: 0;
	}
	.block-work{
		margin: 0;
	}
	.block-work__el{
		padding: 0;
	}
	.articles-el__body{
		padding-bottom: 27px;
	}
	.block-articles__el{
		margin-bottom: 33px;
	}
	.sec-form_2 .block-form-2{
		max-width: 543px;
		margin-left: auto;
		margin-right: auto;
	}
	.sec-form_2 .block-form-2__img{
		max-width: 100%;
		height: 224px;
		object-position: top;
		margin-bottom: 16px;
	}
	.sec-form_2 .block-form-2__body{
		max-width: 100%;
	}

	.pwp-el {
	    max-width: 291px;
	}
	.block-pwp{
		margin-left: -15px;
		margin-right: -15px;
	}
	.block-pwp__el{
		padding: 0 15px;
	}
	.article-el_big__body{
		margin-top: 8px;
	}
	.block-articles-top__left{
		margin-bottom: 32px;
	}
}

@media screen and (max-width: 600px){
	.top-menu .top-menu__nav .links-2__el{
		margin-bottom: 20px;
	}

	.sec-facts{
		.container{
			padding: 0;
		}
		.sec-facts__content{
			position: relative;
			&::before{
				content: '';
				position: absolute;
				right: -1px;
				top: 0;
				height: 100%;
				width: 1;
				z-index: 10;
				box-shadow: 6px 2px 20px 13px #efefef;
			}
		}
	}
	.block-facts{
		padding-left: 15px;
	}
	.sec-facts__wrap{
		padding-bottom: 25px;
		padding-top: 25px;
	}
	.sec-plan{
		padding-top: 25px;
	}
}

@media screen and (max-width: 575px){

}

@media screen and (max-width: 360px){
	.sec-form_2 .block-form-2__img{
		height: 212px;
	}
	.strategy-el{
		padding-left: 5px;
		padding-right: 5px;
	}
	.articles-el{
		border-radius: 0;
	}
	.block-articles__el{
		margin-bottom: 0;
	}
	.articles-el__body{
		padding-bottom: 32px;
	}
	.block-pwp__el{
		width: 50%;
	}
	.block-pwp__el:nth-child(1), .block-pwp__el:nth-child(3){
		margin-right: 0;
		width: 50%;
	}
	.pwp-el__title{
		padding-right: 0;
	}
	.block-pwp{
		margin-left: 0;
		margin-right: 0;
	}
	.block-pwp__el{
		padding: 0;
		min-width: 192px;
	}
	.block-pwp__el:nth-child(1), .block-pwp__el:nth-child(3){
		margin-right: -64px;
	}
}

@media screen and (max-width: 349px){
	.block-pwp__el, .block-pwp__el:nth-child(1), .block-pwp__el:nth-child(3){
		width: 100% !important;
		margin-right: 0 !important;
		margin-top: 0 !important;
		margin-bottom: 30px !important;
	}
}